@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body{
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  color: #505962;
}
.offset:before{
  display: block;
  content: "";
  height: 4rem;
  margin-top: -4rem;
}
.navbar{
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background-color: rgba(0, 0, 0, 0.6)!important;
}
.navbar-brand img{
  height: 2rem;
}
.navbar-brand li{
  padding-right: .7rem;
}
.navbar-dark .navbar-nav .nav-link{
  color: white;
  padding-top: .8rem
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #8d8d8d; 
}

.home-inner{

  background-image: url(img/Background.jpg);
}
.caption{
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 30%;
  z-index: 1;
  color: white;
  text-transform: uppercase;
}
.caption h1{
  font-size: 6rem;
  font-weight: 900;
  letter-spacing: .9rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;
  margin-top: 5rem;
}
.caption h3{
  font-size: 2rem;
  font-weight: 900;
  padding-bottom: 1.6rem;
  margin-top: 19rem;
}

.btn-lg{
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.3rem;
  font-size: 1.1rem;
  color: #f85974;
}

.narrow{
  width: 75%;
  margin: 1.5rem auto;
  padding-top: 2rem;
}
.narrow h1{
  font-size: 2.4rem;
}

.btn-secondary{
  border-width: medium;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: .6rem 1.2rem;
  margin: 1rem;
  color: white;
  background-color: #1ebba3;
  border-color: #1ebba3;  
}
.btn-secondary:hover{
  background-color: #189592;
  border-color: #189592;  
}
.jumboteon{
  margin-bottom: 0;
  padding: 2rem 0 3.5rem;
  border-radius: 0;
}
h3 .heading{
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
}

.heading-underline{
  width: 3rem;
  height: .2rem;
  background-color: red;
  margin: 0 auto 2rem;

}
.feature svg.svg-inline--fa{
  color: #1e7abb;
}
.feature h3{
  font-size: 1.3rem;
  text-transform: uppercase;
  padding-bottom: .4rem;
   
}
.feature p{
  font-size: 1.1rem;  
}
.fixed{
  background-image: url(img/139085566765803100.jpg);
  z-index: -1;
}
.dark{
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 7rem 2rem;

}
.fixed-background h3{
  margin-bottom: 2rem;
}
.fixed-background p{
  margin-top: 1.5rem;
}
.clients img{
  width: 100%;
  border-radius: 50%;
}
blockquote .svg-inline--fa{
  color: #1ebba3;
  margin: 1rem;
}
.clients hr{
  border-top: .05rem solid #1ebba3;
}

.p-about{
  font-size: 1.5rem;
}
.padding{
  padding-bottom: 1rem;
}
.phil{
  background-color: #e9ecef;
  padding-top: 2rem;
}
.btn-blue:hover{
background-color: #1e7abb;
}
.fa-code, .fa-bold, .fa-css3{
  font-size: 4rem;
  margin: 1rem;
}
.social a{
  font-size: 4.5em;
  padding: 1rem;
}
.fa-vk{
  color: #4a76a8;
}
.fa-instagram{
  color: #a435b5;
}
.fa-envelope{
  color: #bb0000;
}
footer{
  background-color: #e9ecef;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-google-plus-g:hover,
.fa-instagram:hover,
.fa-youtube:hover{
  color: #d5d5d5;
}
.contact{
  background-color: ##40474e;
}
.head-2{
  font-size: 2rem;
}
.name{
  margin-top: 20px;
  margin-bottom: 20px; 
}
.gap{
  margin-right: 20px;
  margin-left: 20px;
}
/*============= COURSE SECTION =============*/



/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
